#body{
   padding-right:15px;
   padding-left:15px;
   background-color:gray

}

#menu-bar{
    background-color:gray;
    height:25px;
    margin-bottom:5px;
    color:white;
}

#nav-bar{
    background-color:black;
    height:50px;
    margin-left:1px;
    margin-right:1px;
    margin-bottom:8px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

#content{

	background-color:white;
    /*border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;*/
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}

#content-full{

    margin-left:1px;
    margin-right:1px;
    margin-bottom:8px;

}

#tool-bar{
    background-color:black;
    height:500px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

#footer{
    background-color:black;
    height:50px;
    margin-left:1px;
    margin-right:1px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    color:white;
    text-align:center;
    padding-top:8px;
}

