#body{
   padding-right:15px;
   padding-left:15px;
   background-color:gray

}

#menu-bar{
    background-color:gray;
    height:25px;
    margin-bottom:5px;
    color:white;
    
}



#nav-bar{
    background-color:black; 
    margin-left:1px;
    margin-right:1px;
    margin-bottom:8px;
    z-index : 999;
}

#content{

	background-color:white;
    /*border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;*/
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
     overflow:auto;
      height:500px;

}

#content-full{
   
    margin-left:1px;
    margin-right:1px;
    margin-bottom:8px;
    height:500px;
   

}

#tool-bar{
    background-color:black;
    height:500px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

#footer{
    background-color:black;
    height:50px;
    margin-left:1px;
    margin-right:1px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    color:white;
    text-align:center;
    padding-top:8px;
}

/* visited link */
a:visited {
    color: white;  
}

/* mouse over link */
a:hover {
    color: black;   
}

/* selected link */
a:active {
    color: white;
    }
     
li{
    text-align:left;
}

a:hover, a:focus {
   
    text-decoration: none;
}