<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.0.2" targetFramework="net46" />
  <package id="Accord.Controls" version="3.0.2" targetFramework="net46" />
  <package id="Accord.Extensions.Core" version="3.0.1" targetFramework="net46" />
  <package id="Accord.Extensions.Imaging.AForgeInterop" version="3.0.1" targetFramework="net46" />
  <package id="Accord.Extensions.Imaging.Algorithms" version="3.0.1" targetFramework="net46" />
  <package id="Accord.Extensions.Math" version="3.0.1" targetFramework="net46" />
  <package id="Accord.Imaging" version="3.0.2" targetFramework="net46" />
  <package id="Accord.MachineLearning" version="3.0.2" targetFramework="net46" />
  <package id="Accord.Math" version="3.0.2" targetFramework="net46" />
  <package id="Accord.Neuro" version="3.0.2" targetFramework="net46" />
  <package id="Accord.Statistics" version="3.0.2" targetFramework="net46" />
  <package id="DotImaging.BitmapInterop" version="2.5.3" targetFramework="net46" />
  <package id="DotImaging.GenericImage" version="3.0.2" targetFramework="net46" />
  <package id="DotImaging.IO" version="3.0.2" targetFramework="net46" />
  <package id="DotImaging.Primitives2D" version="3.0.2" targetFramework="net46" />
  <package id="Fixie" version="1.0.0.15" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Should" version="1.1.20" targetFramework="net45" />
  <package id="ZedGraph" version="5.1.6" targetFramework="net46" />
</packages>