
    
        <div class="container container-full">
            <p><span>Copyright &copy; 2014. <a href="http://www.innovative-e.lk" target="_blank">Ux Imaging (Pvt) Ltd.</a> All rights reserved.</span></p>
                           
            </p>
        </div>

