
<ul class="list-inline">
    <li class="btn btn-xs">File</li>
    <li class="btn btn-xs">Edit</li>
    <li class="btn btn-xs">View</li>
    <li class="btn btn-xs">Insert</li>
    <li class="btn btn-xs">Tool</li>
    <li class="btn btn-xs">Table</li>
    <li class="btn btn-xs">Window</li>
    <li class="btn btn-xs">Help</li>
</ul>