@section scripts
{

}

<div id="propertyBar">
    <form class="form-horizontal">
        <div>
            <label for="left" class="col-sm-4 control-label" style="padding-top:20px">Left</label>
            <div class="col-sm-8" style="padding-top:20px">
                <input type="number" class="form-control" id="left" placeholder="Left" ng-model="itemLeft">
            </div>
        </div>

        <div>
            <label for="top" class="col-sm-4 control-label" style="padding-top:20px">Top</label>
            <div class="col-sm-8" style="padding-top:20px">
                <input type="number" class="form-control" id="top" placeholder="Top" ng-model="itemTop">
            </div>
        </div>
        <div>
            <label for="width" class="col-sm-4 control-label" style="padding-top:20px">Width</label>
            <div class="col-sm-8" style="padding-top:20px">
                <input type="number" class="form-control" id="width" placeholder="Width" ng-model="itemWidth">
            </div>
        </div>
        <div>
            <label for="height" class="col-sm-4 control-label" style="padding-top:20px">Height</label>
            <div class="col-sm-8" style="padding-top:20px">
                <input type="number" class="form-control" id="height" placeholder="Height" ng-model="itemHeight">
            </div>
        </div>
        @*<div>
            <div class="col-sm-offset-4 col-sm-8" style="padding-top:20px;padding-bottom:20px">
                <button class="btn btn-default" ng-click="alert();">Save</button>
            </div>
        </div>*@
    </form>
</div>

