@{
    Layout = null;
}


@section scripts
{
  
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    

}


    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Basic Tags</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body" >
                    <img id="button" src="~/Content/Images/Icon/button.png" height="25" width="80" draggable="true" onmousedown="get_pos(event)" ondragstart="drag(event)" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img id="check" src="~/Content/Images/Icon/Check.png" height="20" width="20" draggable="true" onmousedown="get_pos(event)" ondragstart="drag(event)" />
                    <br/>
                    <br/>
                    <img id="combo" src="~/Content/Images/Icon/como.png" height="25" width="80" draggable="true" onmousedown="get_pos(event)" ondragstart="drag(event)" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img id="datepic" src="~/Content/Images/Icon/datepic.png" height="30" width="30" draggable="true" onmousedown="get_pos(event)" ondragstart="drag(event)" />
                    <br />
                    <br />
                    <img id="image" src="~/Content/Images/Icon/HTML5.png" height="25" width="80" draggable="true" onmousedown="get_pos(event)" ondragstart="drag(event)" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img id="radio" src="~/Content/Images/Icon/radio.png" height="20" width="20" draggable="true" onmousedown="get_pos(event)" ondragstart="drag(event)"  />
                    <br />
                    <br />
                    <img id="inputtext" src="~/Content/Images/Icon/images (1).png" height="25" width="80" draggable="true" onmousedown="get_pos(event)" ondragstart="drag(event)" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img id="rang" src="~/Content/Images/Icon/rang.png" height="25" width="30" draggable="true" onmousedown="get_pos(event)" ondragstart="drag(event)" />
                    <br />
                    <br />
                    <img id="lable" src="~/Content/Images/Icon/lable.png" height="25" width="80" draggable="true" onmousedown="get_pos(event)" ondragstart="drag(event)" />
                    <br />
                    <br />
                    <img id="menu" src="~/Content/Images/Icon/menu.png" height="25" width="80" draggable="true" onmousedown="get_pos(event)" ondragstart="drag(event)" />
                    <br />
                    <br />
                    <img id="para" src="~/Content/Images/Icon/para.png" height="25" width="80" draggable="true" onmousedown="get_pos(event)" ondragstart="drag(event)" />                   
                    <br />
                    <br />
                     
                </div>
              
            </div>
        </div>
    </div>
