@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/fx/zebra/zebra.min.js"></script>
    <script src="~/Scripts/app/views/home/home.Edit_Sample_Template.js"></script>
}

<h1>UI designer components</h1>

<div data-ng-controller="homeController"></div>

<canvas id="designer"></canvas>
