@section scripts
{
    <script src="~/Scripts/app/views/home/magicurve.app.js"></script>
    <script src="~/Scripts/app/views/home/magicurve.app.controller.home.js"></script>
}

<toaster-container></toaster-container>

<div data-ng-contrller="homeController">
    <button onclick="pop()">Toast</button>
</div>