
@section scripts
{
    <script src="~/Scripts/fx/zebra/zebra.min.js"></script>
    <script src="~/Scripts/app/views/home/zebra.draw.js"></script>
    <script src="~/Scripts/app/views/home/home.Index.js"></script>  
    <script src="~/Scripts/app/views/home/magicurve.app.service.home.js"></script>
    <script src="~/Scripts/app/views/home/magicurve.app.controller.home.js"></script>
}

<canvas id="designer"></canvas>

<div data-ng-controller="homeController">Move and resize UI components using mouse</div>

   

   
   



       


