@section scripts
{
    <script src="~/Scripts/app/views/home/magicurve.app.controller.home.js"></script>
    <script src="~/Scripts/app/views/home/magicurve.app.service.home.js"></script>
    <script src="~/Scripts/fx/zebra/zebra.js"></script>
}

<toaster-container></toaster-container>

<div data-ng-controller="homeController">
    <canvas id="designer"></canvas>
</div>