
@section scripts
{
    <script src="~/Scripts/fx/zebra/zebra.min.js"></script>
    <script src="~/Scripts/app/views/home/canvas.js"></script>
    <script src="~/Scripts/app/views/home/magicurve.app.service.home.js"></script>
    <script src="~/Scripts/app/views/home/magicurve.app.controller.home.js"></script>
}

<div data-ng-controller="homeController">
    <canvas id="designer"></canvas>
</div>

   

   
   



       


