@{
    ViewBag.Title = "Sample";
}

@section Scripts{
    <script src="~/Scripts/FX/webcam/jquery.webcam.js"></script>
    <script src="~/Scripts/app/views/home/home.index.js"></script>

}

<h2>Sample</h2>

<button onclick="loadImage()">Show shapes</button>

<div class="row">
    <img id="img" src="/Content/images/test.png" height="200" width="200" />
    <img id="img_blob" src="#" height="400" width="400" />
</div>
<div id="Camera"></div>
<button id="shoot">Shoot</button>

