@{
    ViewBag.Title = "Sample";
}

@section Scripts{
    <script src="~/Scripts/FX/webcam/jquery.webcam.js"></script>
    <script src="~/Scripts/app/views/home/home.index.js"></script>

}

<h2>Sample</h2>


<div>
    <h3>Step1 : <b>Shoot</b></h3>
    <div id="Camera"></div>
    <button id="shoot">Shoot</button>

    <h3>Step 2: load</h3>
    <button onclick="loadImage()">Show shapes</button>
    <div class="row">
        <div class="col-md-6">
            <img id="img_blob" src="#" height="400" width="400" />
        </div>
        <div class="col-md-6">
            <img id="or_img_blob" src="#" height="400" width="400" />
        </div>
    </div>
</div>


