@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts
{
    <script src="~/Scripts/fx/zebra/zebra.min.js"></script>
   <script src="~/Scripts/app/views/home/home.Sample_Template.js"></script>
}


<h1>UI designer components</h1>
<canvas id="smpleDesigner"></canvas>


<div >Move and resize UI components using mouse</div>