@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section scripts
{
    <script src="~/Scripts/fx/zebra/zebra.min.js"></script>
    <script src="~/Scripts/app/views/home/home.testing.js"></script>
}

<h1>UI designer components</h1>

<div data-ng-controller="homeController"></div>

<canvas id="test" tabindex="1" width="600" height="400" style="outline: none; padding: 0px; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); touch-action: none; width: 600px; height: 400px; cursor: default;"> </canvas>