@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UX Imagine</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body background="~/Content/Images/homepage/home.JPG" style=" background-repeat:no-repeat;background-size: 100%;">
    <div>
        <div class="container" >
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2" style="padding-top:430px"><a href="~/home/index" class="btn btn-danger btn-block" role="button"> Let's Start</a></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
            </div>
         
            
        </div>
    </div>
</body>
</html>
