
@section Scripts{
    <script src="~/Scripts/app/views/home/magicurve.app.service.home.js"></script>
    <script src="~/Scripts/fx/zebra/zebra.min.js"></script>
    <script src="~/Scripts/app/views/home/canvas.js"></script>
    <script src="~/Scripts/app/views/home/zebra.draw.js"></script>
    <script src="~/Scripts/app/views/home/home.zebra.js"></script>
    <script src="~/Scripts/app/views/home/magicurve.app.controller.home.js"></script>
}
<h1>UI designer components</h1>

<div class="row" data-ng-controller="homeController">
    <div class="col-md-8">
        <canvas id="designer">
            This Browser does not support canvas element.
        </canvas>
    </div>
    <div class="col-md-4">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="left" class="col-sm-2 control-label">Left</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="left" placeholder="Left">
                </div>
            </div>
            <div class="form-group">
                <label for="top" class="col-sm-2 control-label">Top</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="top" placeholder="Top">
                </div>
            </div>
            <div class="form-group">
                <label for="width" class="col-sm-2 control-label">Width</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="width" placeholder="Width">
                </div>
            </div>
            <div class="form-group">
                <label for="height" class="col-sm-2 control-label">Height</label>
                <div class="col-sm-10">
                    <input type="number" class="col-sm-10 form-control" id="height" placeholder="Height">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
