
@{
    ViewBag.Title = "Zebra";
}

@section Scripts{
<script src="~/Scripts/FX/zebra_new/zebra.min.js"></script>
<script src="~/Scripts/app/views/home/home.zebra.js"></script>
<script src="~/Scripts/app/views/home/magicurve.app.controller.home.js"></script>
<script src="~/Scripts/app/views/home/magicurve.app.service.home.js"></script>
    }
<h1>UI designer components</h1>
<canvas id="designer">
   
 

</canvas>


<div id="demo1">

</div>
<div>Move and resize UI components using mouse {{spices}}</div>
