
@{
    ViewBag.Title = "Zebra";
}

@section Scripts{
<script src="~/Scripts/FX/zebra_new/zebra.min.js"></script>
<script src="~/Scripts/app/views/home/home.zebra.js"></script>
    }
<h1>UI designer components</h1>
<canvas id="designer">

    

</canvas>
<div>Move and resize UI components using mouse</div>
