
@section Scripts{

    <script src="~/Scripts/app/views/home/magicurve.app.service.home.js"></script>
    <script src="~/Scripts/fx/zebra/zebra.min.js"></script>
    <script src="~/Scripts/app/views/home/canvas.js"></script>
    <script src="~/Scripts/app/views/home/zebra.draw.js"></script>
    <script src="~/Scripts/app/views/home/home.zebra.js"></script>
    <script src="~/Scripts/app/views/home/magicurve.app.controller.home.js"></script>
}
<h1>UI designer components</h1>

<div data-ng-controller="homeController"></div>

<canvas id="designer">
    This Browser does not support canvas element.
</canvas>


