
<ul class="nav navbar-nav">
    <li>
        <a href="#"><span class="glyphicon glyphicon-folder-open"></span> </a>
    </li>
    <li>
        <a href="#"><span class="glyphicon glyphicon-floppy-save"></span> </a>
    </li>
    <li>
        <a href="#"><span class="glyphicon glyphicon-zoom-in"></span> </a>
    </li>
    <li>
        <a href="#"><span class="glyphicon glyphicon-zoom-out"></span> </a>
    </li>
    <li>
        <a href="#"><span><input style="height:20px;width:140px" type="text" class="form-control" id="exampleInputName2" placeholder="arial"></span> </a>
    </li>
    <li>
        <a href="#"><span><input style="height:20px;width:120px" type="text" class="form-control" id="exampleInputName2" placeholder="14px"></span> </a>
    </li>
    <li>
        <a href="#"><span class="glyphicon glyphicon-arrow-left"></span> </a>
    </li>
    <li>
        <a href="#"><span class="glyphicon glyphicon-arrow-right"></span> </a>
    </li>
    <li>
        <a href="#"><span class="glyphicon glyphicon-align-left"></span> </a>
    </li>
    <li>
        <a href="#"><span class="glyphicon glyphicon-align-right"></span> </a>
    </li>
    <li>
        <a href="#"><span class="glyphicon glyphicon-align-center"></span> </a>
    </li>
    <li>
        <a href="#"><span class="glyphicon glyphicon-list"></span> </a>
    </li>
</ul>
