<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection, StructureMap" />
    <section name="TrainData" type="System.Configuration.NameValueSectionHandler" />
    <section name="CodeConfig" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="minControlSize" value="50" /> <!--The size is specified in pixels-->
    <add key="uploadPath" value="~/Content/Images/Upload" />
    <add key="downloadPath" value="~/Content/Files" />
    <add key="maxFileSize" value="4" /> <!--The size is specified in MB-->
    <add key="loadMachine" value="true" />
    <add key="machineUrl" value="~/Content/Images/train/machine.nn" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=uximagine;AccountKey=UcPwS9vUj9E/A8xiSFBvelXzhqg1TEUvc8/VUEJ8E0ZKwVJFJ0SWeFvXBKcO2blX99h/TQg1AVrK86MMSjsLJg==" />
    <add key="StorageAccountName" value="uximagine"/>
    <add key="StorageAccountAccessKey" value="UcPwS9vUj9E/A8xiSFBvelXzhqg1TEUvc8/VUEJ8E0ZKwVJFJ0SWeFvXBKcO2blX99h/TQg1AVrK86MMSjsLJg=="/>
  </appSettings>
  
  <CodeConfig>
    <add key="defaultRowHeight" value="40"/>
    <add key="defaultRowWidth" value="40"/>
    <add key="defaultPageWidth" value="1368"/>
    <add key="defaultPageHeight" value="768"/>
    <add key="defaultMarginTop" value="10"/>
  </CodeConfig>

  <TrainData>
    <add key="0" value="~\Content\Images\Train\button" />
    <add key="1" value="~\Content\Images\Train\combo" />
    <add key="2" value="~\Content\Images\Train\paragraph" />
    <add key="3" value="~\Content\Images\Train\text" />
    <add key="4" value="~\Content\Images\Train\radio" />
    <add key="5" value="~\Content\Images\Train\image" />
    <add key="6" value="~\Content\Images\Train\password" />
    <add key="7" value="~\Content\Images\Train\checkbox" />
    <add key="8" value="~\Content\Images\Train\date" />
    <add key="9" value="~\Content\Images\Train\label" />
    <add key="10" value="~\Content\Images\Train\iframe" />
    <add key="11" value="~\Content\Images\Train\hr" />
    <add key="12" value="~\Content\Images\Train\range" />
  </TrainData>
  
  <StructureMap MementoStyle="Attribute">
    <!-- Services -->
    <PluginFamily Type="Uximagine.Magicurve.Services.IProcessingService" Assembly="Uximagine.Magicurve.Services">
      <Plugin ConcreteKey="ServiceImpl" Type="Uximagine.Magicurve.Services.BusinessServices.ProcessingService" Assembly="Uximagine.Magicurve.Services.BusinessServices" />
    </PluginFamily>
    <PluginFamily Type="Uximagine.Magicurve.Services.IFileService" Assembly="Uximagine.Magicurve.Services">
      <Plugin ConcreteKey="ServiceImpl" Type="Uximagine.Magicurve.Services.BusinessServices.FileService" Assembly="Uximagine.Magicurve.Services.BusinessServices" />
    </PluginFamily>
    <PluginFamily Type="Uximagine.Magicurve.Services.IPhotoService" Assembly="Uximagine.Magicurve.Services">
      <Plugin ConcreteKey="ServiceImpl" Type="Uximagine.Magicurve.Services.CloudStorage.LocalPhotoService" Assembly="Uximagine.Magicurve.Services.CloudStorage" />
    </PluginFamily>
    <!-- Detectors -->
    <PluginFamily Type="Uximagine.Magicurve.Image.Processing.Detectors.IEdgeDetector" Assembly="Uximagine.Magicurve.Image.Processing">
      <Plugin ConcreteKey="EdgeDetectorImpl" Type="Uximagine.Magicurve.Image.Processing.Detectors.CannyDetector" Assembly="Uximagine.Magicurve.Image.Processing" />
    </PluginFamily>
    <PluginFamily Type="Uximagine.Magicurve.Image.Processing.Detectors.IBlobDetector" Assembly="Uximagine.Magicurve.Image.Processing">
      <Plugin ConcreteKey="BlobDetectorImpl" Type="Uximagine.Magicurve.Image.Processing.Detectors.HullBlobDetector" Assembly="Uximagine.Magicurve.Image.Processing" />
    </PluginFamily>
    <!-- Matchers -->
    <PluginFamily Type="Uximagine.Magicurve.Image.Processing.Matchers.IMatcher" Assembly="Uximagine.Magicurve.Image.Processing">
      <Plugin ConcreteKey="MatcherImpl" Type="Uximagine.Magicurve.Image.Processing.Matchers.TemplateMatcher" Assembly="Uximagine.Magicurve.Image.Processing" />
    </PluginFamily>
  <!-- Shape Checkers -->
    <PluginFamily Type="Uximagine.Magicurve.Image.Processing.ShapeCheckers.IShapeChecker" Assembly="Uximagine.Magicurve.Image.Processing">
      <Plugin ConcreteKey="ShapeCheckerImpl" Type="Uximagine.Magicurve.Image.Processing.ShapeCheckers.MachineShapeChecker" Assembly="Uximagine.Magicurve.Image.Processing" />
    </PluginFamily>
    <!-- code generator-->
    <PluginFamily Type="Uximagine.Magicurve.CodeGenerator.IGenerator" Assembly="Uximagine.Magicurve.CodeGenerator">
      <Plugin ConcreteKey="GenImpel" Type="Uximagine.Magicurve.CodeGenerator.ResponsiveCodeGenerator" Assembly="Uximagine.Magicurve.CodeGenerator" />
    </PluginFamily>
  </StructureMap>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
<!--    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotless.Core" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.4.0" newVersion="1.4.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>``
    </assemblyBinding>
  </runtime>
  <dotless minifyCss="false" cache="true" web="false" />
  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.\SQLEXPRESS;initial catalog=MagicurveDiagnosticDB;integrated security=false;persist security info=True;User ID=UxAppUser;Password=Az3r0th" />
      <commandText value="INSERT INTO Log ([LogTimestamp], [Thread], [Level], [Logger], [Message], [Exception], [SourceApplication], [SourceApplicationVersion], [LoggingApplication], [LoggingApplicationVersion], [ClientIPAddress], [ServerIPAddress]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @source_application, @source_application_version, @logging_application, @logging_application_version, @client_ipaddress, @server_ipaddress)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%thread" />
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="20" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%c" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@source_application" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%X{sourceappname}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@source_application_version" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%X{sourceappver}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logging_application" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="Spindle_Service.Mobile.Operator" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logging_application_version" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%X{loggingappver}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@client_ipaddress" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%X{clientip}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@server_ipaddress" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%X{serverip}" />
        </layout>
      </parameter>
    </appender>
    <appender name="All" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Data\curve_all.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="Error" type="log4net.Appender.RollingFileAppender">
      <threshold value="WARN" />
      <file value="D:\Data\curve_error.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="AdoNetAppender" />
      <appender-ref ref="Error" />
      <appender-ref ref="All" />
    </root>
  </log4net>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\Data\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>